@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@700&display=swap");

.subCard {
  border: 1px solid white;
  width: 100%;
  padding: 27px 20px 50px 20px;
  margin-bottom: 5em;
  border-radius: 15px;
  margin: 10px 0;
}
.img {
  width: 150px;
}
.subCard__top {
  display: flex;
  align-items: center;
  color: white;
}
.subCard__bottom {
  margin-left: 5.5em;
  margin-top: 10px;
}
.subCard__middle {
  color: white;
}
.subjects > p {
  text-align: center;
  color: white;
  letter-spacing: normal;
}
.subjects > h3 {
  text-align: center;
  font-size: 4em;
  color: white;
  letter-spacing: normal;
  font-weight: bold;
}
